
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.npmrc
!/.github
!/.vscode
!/azure-pipelines.yml
!/src
!/test
!/register.typescript.js
!/tsconfig.json
!/package.json
!/wallaby.js

#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
