* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
.prettierignore text
LICENSE         text
*.md            text
*.yml           text

*.ts            text
*.js            text
*.json          text
